<nav class="nav-container">
  <%- include('../components/hamburger-button'); %> 
  <%- include('../components/application-brand'); %> 
  <%- include('../components/side-navigation'); %> 
  <%- include('../components/login-profile-picture'); %> 
</nav>