.main-container {
  position: relative;
}
.main-container input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  background-color: var(--inner-background-color);
  padding: 1em 2em;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  padding-left: 4em;
}
.main-container svg {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(30%, -50%) scale(0.5, 0.5);
}