<dialog id="masuk-dengan-kode-dialog">
  <form method="dialog">
    <label for="uCode">Silahkan Masukan Kode Antrian Anda</label>
    <input type="text" id="uCode", name="uCode" placeholder="Contoh: A1B2">
    <div class="dialog-button-container">
      <button id="uCode-submit">Submit</button>
      <button>Kembali</button>
    </div>
  </form>
</dialog>