@import "./components/login-profile-picture.css";
@import "./components/application-brand.css";
@import "./components//side-navigation.css";
@import "./components/hamburger-button.css";
@import "./components/navigation-drawer.css";

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 4em;
  }
}