@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
padding: 0px ;
margin: 0px;
}

:root,*
{
    font-family: 'Poppins', sans-serif;
}

body{
background: #EAF3FC;
}

.main-container{
display: flex;
 justify-content: flex-start;
align-items: flex-start;
padding: 20px;
position: relative;
background: #EAF3FC;
border-radius: 8px;
}

.white1{
    flex: 1;
}

.white2{
    background: #FBFAFF;
    flex: 3;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.white2 > input{
    padding: 0.5rem 2rem;
    width: 100% ;
}

.white2 h2{
    align-self: flex-start;
    margin-bottom: 2%;
}

.submit{
    padding: 0.5rem 2rem;
    margin: 0.5rem ;
    align-self: flex-start;
    color: #FBFAFF;
    width: 124.26px;
    height: 50px;
    background: linear-gradient(103.94deg, #0361FE 12.09%, #03CDFF 97.49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    transition-duration: 1.4s;
}

.submit:hover {
background-color: #0361FE;
}