<html>
    <head>
        <link rel="stylesheet" href="daftar.css">
    </head>
    <body>
        <div class="main-container">
            <div class="white1">
                <h1>Navbar Space</h1>
            </div>
            <div class="white2">
                <h2>Form Pendaftaran Badan Usaha</h2>
                <p>Nama Instansi</p>
                <input placeholder="Nama Instansi..." type="text" id="tulis" name="tulis-chat">
                <p>Nama Admin</p>
                <input placeholder="Nama Admin..." type="text" id="tulis" name="tulis-chat">
                <p>Email Admin</p>
                <input placeholder="Email Admin..." type="email" id="tulis" name="tulis-chat">
                <p>Nama Customer Service</p>
                <input placeholder="Nama Customer Service..." type="text" id="tulis" name="tulis-chat">
                <p>Email Customer Service</p>
                <input placeholder="Email Customer Service..." type="email" id="tulis" name="tulis-chat">        
                
                <button class="submit">Daftar</button>
            </div>
        </div>
    </body>
</html>