.main-container {
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: var(--text-dark-color);
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
}

.main-container.active {
  color: var(--inner-background-color);
  background-color: var(--primary-color);
}