.main-container {
  background: linear-gradient(164.27deg, #003FBB -11.02%, #0361FE 44.03%, #03CDFF 105.13%);
  border-radius: 20px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 2em;
}
.main-container h3,
.main-container p {
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  color: var(--inner-background-color);
}
.main-container h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 1em;
}
.main-container p {
  font-weight: 400;
  padding-top: 0.3em;
  font-size: 0.8em;
}
.profile-picture {
  aspect-ratio: 1/1;
  height: 30%;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture svg {
  transform: scale(0.7, 0.7);
}
.optional-buttons {
  width: 100%;
  margin-top: 30%;
}