.main-container {
  padding: 1em 2em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  color: var(--text-dark-color);
  background-color: var(--inner-background-color);
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  cursor: pointer;
}