.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--outer-background-color);
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
  padding: 2rem;
}

.main-content {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  background: var(--inner-background-color);
  border-radius: 20px;
}

.video-layer {
  flex: 3;
  position: relative;
}

.chat-layer {
  flex: 1;
}

.remote-video {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: rgb(82, 79, 79);
}

.local-video {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  max-width: 30%;
  max-height: 30%;
  background: var(--text-dark-color);
}

.chat-layer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.chat-layer>* {
  padding: 1rem 2rem;
}

.chat-layer h2 {
  text-align: center;
}

.chat-box {
  overflow-y: scroll;
  height: 80%;
  justify-self: stretch;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.chat-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
.my-chat {
  justify-content: flex-end;
}

.profile-pict {
  aspect-ratio: 1 / 1;
  height: 3rem;
  width: 3rem;
  background-color: var(--secondary-dark-color);
  border-radius: 50%;
}

.chat-content p {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-dark-color);
  border-radius: 20px;
  text-align: justify;
}

.tulis {
  padding: 1rem 2rem;
  justify-self: flex-end;
}

.input-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border: 1px solid var(--secondary-dark-color);
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.tulis input,
.tulis button {
  border: none;
  outline: none;
  background: transparent;
}

.tulis input {
  flex: 6;
}

.tulis button {
  flex: 1;
  cursor: pointer;
}

.button-container {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

.btn-next-customer,
.btn-exit {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: var(--danger-color);
  color: var(--inner-background-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
  .main-content {
    flex-direction: column;
  }
  .remote-video {
    border-radius: 20px;
  }
  .button-container {
    padding-top: 0px;
  }
  .video-layer {
    flex: 1;
  }
  .chat-layer {
    flex: 1.2;
  }
}