.main-container {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1rem;
  color: var(--text-dark-color);
}

.logo-container {
  aspect-ratio: 1 / 1;
  width: 7rem;
  height: 7rem;
}

.logo-container img {
  width: 100%;
}

.main-content header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin: 1.5rem;
}

.main-content section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content section>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: stretch;
}

.main-content section input {
  padding: 0.5rem 1rem;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--text-dark-color);
}

.btn-ambil-antrian {
  border: none;
  outline: none;
  border-radius: 20px;
  background: var(--linear-primary-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--inner-background-color);
  cursor: pointer;
}

.btn-ambil-antrian span {
  font-size: 1.5em;
}

.main-container footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--linear-primary-color);
  color: var(--inner-background-color);
}

.detail-container>div {
  font-size: 0.9rem;
}

.detail-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  margin-right: 0.5rem;
}

.status-operasi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.status-operasi>span {
  font-weight: 500;
}

.detail-garis-tengah {
  width: 1px;
  background-color: var(--inner-background-color);
}

.detail-right-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-right-section>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.detail-right-section>div>span:nth-child(2) {
  font-size: 2em;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(221, 221, 221, 0.582);
  z-index: 5;
}

.navigation-wrapper,
.profile-card-wrapper {
  padding-left: 3em;
}

.profile-card-wrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-top: 0.5em;
}

.main-content header p {
  text-align: center;
}
.card-nomor-antrian {
  border-radius: 20px;
  background: var(--linear-primary-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  color: var(--inner-background-color);
}

.angka-nomor-antrian h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  padding: 1rem 2rem;
}

.detail-antrian-live {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.live-garis-tengah {
  width: 1px;
  background-color: var(--inner-background-color);
}

@media (max-width: 768px) {
  .main-navigation {
    /* display: none; */
    position: fixed;
    background-color: var(--outer-background-color);
    padding-right: 2em;
    z-index: 10;
    top: 0px;
    left: -80%;
    transition: 0.3s;
    height: 100vh;
  }

  .hamburger-and-profile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background: transparent;
    padding: 0.5em 1em;
    z-index: 15;
  }

  .profile-card-wrapper {
    display: none;
  }

  .main-content header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-content header p {
    font-size: 0.8rem;
  }

  .main-content header p span {
    display: block;
    text-align: center;
  }

  .main-navigation>div:first-child {
    visibility: hidden;
  }

  div.detail-container div span {
    font-size: 0.8rem;
  }

  .detail-right-section svg {
    display: none;
  }

  .detail-left-section {
    margin-right: 0px;
  }

  .detail-right-section>div {
    margin-left: 0px;
  }

  .main-container footer {
    justify-content: stretch;
  }

  .detail-container {
    width: 100vw;
    border-radius: 0px;
  }

  .detail-left-section {
    align-items: center;
  }

  .status-operasi {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .hamburger-wrapper {
    display: none;
  }

  .main-container {
    justify-content: stretch;
    align-items: stretch;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .main-content {
    background-color: var(--inner-background-color);
    padding: 1rem 2rem;
    border-radius: 20px;
  }
}