<html>
    <head>
        <link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <div class="main-container">
            <div class="white1">
                <h1>Nama Aplikasi</h1>
            </div>
            <div class="white2">
               <div class="video-layer">

                    <div class="tombol-nav">
                        <button>
                            <img src="dc.png" alt="dc">
                        </button>
                        <button>
                            <img src="mic.png" alt="talk">
                        </button>
                        <button>
                            <img src="video.png" alt="video">
                        </button>
                        <button>
                            <img src="ask.png" alt="chat">
                        </button>
                    </div>
               </div>
               <div class="chat-layer">
                    <div class="chat-layer-inside">
                        <h2>chat</h2>
                        <div class="chat-box">
                            <div class="chat-content">
                                <div class="profile-pict"></div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae impedit nobis veritatis voluptatibus, quibusdam sunt totam minima. Sequi sint voluptate impedit, quos ut pariatur dolorum tempore sit repellat beatae?. 
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, numquam! Quam, corrupti facere? Fuga, deleniti repudiandae vero praesentium animi est commodi numquam harum voluptatibus quaerat cumque? Aperiam veritatis ipsum quae.
                                </p>
                            </div>
                        </div>
                        <div class="tulis">
                            <form>
                                <input placeholder="Ketik Pesan.." type="text" id="tulis" name="tulis-chat">
                                <button type="submit">
                            </form>
                        </div>
                    </div>
            
               </div>
            </div>
        </div>
    </body>
</html>