@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
    padding: 0px ;
    margin: 0px;
}

:root,*
{
    font-family: 'Poppins', sans-serif;
}


body{
    background: #EAF3FC;
}

.main-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 53px;
    position: relative;
    background: #EAF3FC;
    border-radius: 8px;
}


.white2{
    margin-left: 5%;
    background: #FBFAFF;
    /* justify-content: flex-start; */
    align-items: center;
    border-radius: 8px;
    width: 80%;
    height: 85vh;
}

.video-layer, .chat-layer{
    border-radius: 8px;
    height: 85vh;
}

.video-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 70%;
    background-color: rgb(82, 79, 79);
}

.chat-layer{
    overflow: hidden;
    position: relative;
    float: right;
    width: 30%;
    background-color: #ffffff;
    
}

.chat-layer-inside{
    padding: 16px;
    /* background-color: rgb(218, 167, 167); */
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.chat-layer h2{
    text-align: center;
    padding-bottom: 10px;
}

.chat-box{
    /* background-color: rgb(87, 65, 38); */
    overflow-y: scroll;
    height: 80%;
}

.chat-box::-webkit-scrollbar {
    display: none;
}
  

.chat-content{
    display: flex;
    word-wrap: break-word;
}


.profile-pict{
    height: 40px;
    width: 40px;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
}

.chat-content p{
    display: block;
    background-color: #EAF3FC;
    margin-left: 16px;
    width: 70%;
    padding: 12px;
    word-wrap: break-word;
}
.tulis{
    position: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tulis form{
    position: absolute;
    width: 90%;
    bottom: 50px;
}

.tulis input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.tulis button[type=submit]{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-image: url("ant-design_file-add-outlined.png");
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    background-color: #FBFAFF;
}